  <p id="notice"><%= notice %></p>

  <h1 id="index-title">Posts</h1>

  <table class=index-table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Published</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.title.truncate(27, separator: ' ') %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><%= link_to 'Show', post, class:"text-success" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class:"text-primary" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, class:"text-error", data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>

  <div id="posts"
  data-posts="<%= render(template: 'posts/index.json.jbuilder') %>">
  </div>
