<div class="container">
  <div class="columns">
    <div class="column col-6 post-outline">
      <p id="notice"><%= notice %></p>
      <h2 class="post-title">Post</h2>

      <div class="title">
        <h2>
          <%= "#{@post.title} #{@post.factorial}" %>
        </h2>
      </div>

      <div class="body">
        <p>
          <%= @post.body %>
        </p>
      </div>

      <div class="published">
        <p>
          <strong>Published:</strong>
          <%= @post.published %>
        </p>
      </div>

      <%= link_to 'Edit', edit_post_path(@post), class:"text-primary" %> |
      <%= link_to 'Back', posts_path, class:"text-success" %>
    </div>
  </div>
</div>
